body{
    padding-left: 16px;
}

li {
    list-style-type: none; 
 }

.navbar-header{
    color: #1C6181 !important;
    padding-right: 22px;
}

.navbar-header:hover {
    text-decoration: underline;
    font-style: italic;
}

.navbar-propio { 
    font-family: Courier New,Courier,monospace;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff; 
    z-index: 1000;
}


.body-propio{
  font-family: Courier New,Courier,monospace;
  font-size: 14px;
  padding-top: 50px;
}

.navbar-item{
    color: #1C6181 !important;
    padding-right: 22px !important;
}

.navbar-item-biography{

  padding-right: 22px !important;
  font-weight: bold;
}
.navbar-item-biography:hover{
   text-decoration: underline;
    font-style: italic;

}
    
.navbar-item:hover {
    text-decoration: underline;
    font-style: italic;
}

.navbar-especial{
    color: #000000 !important;
    font-weight: bold;
    text-decoration: underline
}

.list-item{
    padding-left: 16px;
    padding-top: 16px;
    color: #1C6181 !important;
    padding-right: 22px !important;
}
.list-item:hover{
    text-decoration: underline;
    font-style: italic;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff transparent;
  }
  
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
    border: 3px double #000000;
  }

  .container {
    max-width: 800px; 
  }
  .description-exhibition-tag{
    font-size: 11px;
  }
  .description-post-tag{
    font-size: 14px;
    margin-bottom: 0px;
  }
