{% extends 'layout.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <ul class="navbar-nav">
        {% for group in grouped_biography_contents %}
        <li class="nav-item">
          <a class="nav-link active navbar-item-biography" aria-current="page" href="#{{ group.title }}">{{ group.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  
<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700" class="row border-row">
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/portfolio-theme.css"/>
  </head>
  <ul class="cv-list">
    {% for group in grouped_biography_contents %}
        <li id="{{ group.title }}" class="cv-section">
            <span class="title">{{ group.title }}</span>
            <dl>
                {% for content in group.items %}
                <dt>
                    {% if content.start_date and content.end_date %}
                        {{ content.start_date|date:"Y" }}-{{ content.end_date|date:"Y" }}
                    {% elif content.start_date %}
                        {{ content.start_date|date:"Y" }}
                    {% elif content.end_date %}
                        {{ content.end_date|date:"Y" }}
                    {% endif %}
                </dt>
                
                    <dd>{{ content.description }}</dd>
                    {% if content.url %}
                        <dd><a href="{{ content.url }}">{{ content.url }}</a></dd>
                    {% endif %}
                    <dd class="separator"></dd>
                {% endfor %}
                
            </dl>
        </li>
    {% endfor %}
</ul>


</div>
{% endblock %}
