{% extends 'layout.html' %}
{% block content %}

<div class="container">

</div>
<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700" class="row border-row">
    <div class="col-8">
        <ul class="list-group">
            <li class="d-flex justify-content-between align-items-center">
                <i class="bi bi-geo-alt-fill"></i>
                <a href="https://liviabenavides.com/">Galeria 80m2 Lima, Perú</a>
                
            </li>
            <li class="d-flex justify-content-between align-items-center">
                <i class="bi bi-envelope-fill"></i>
                <a href="mailto:mpandoquevedo@gmail.com">mpandoquevedo@gmail.com</a>
            </li>
            <li class="d-flex justify-content-between align-items-center">
                <i class="bi bi-camera-video-fill"></i>
                <a href="https://eye-film-institute.com">Eye film Institute Netherlands Amsterdam, The Netherlands</a> 
            </li>
            <li class="d-flex justify-content-between align-items-center">
                <i class="bi bi-instagram"></i>
                <a href="https://www.instagram.com/marco.pando.quevedo/">marco.pando.quevedo</a>
            </li>
        </ul>
        <hr>
    </div>
</div>

{% endblock %}
