{%extends 'layout.html'%}
{% block content%}

<div class="container">

</div>
<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700" class="row border-row">
      <div class="col-8">
        <ul class="list-group">
            <li class=" d-flex justify-content-between align-items-center">
                <i class="bi bi-geo-alt-fill"></i> Galeria 80m2
                Lima, Perú
                </li>
            <li class=" d-flex justify-content-between align-items-center">
                <i class="bi bi-envelope-fill"></i> mpandoquevedo@gmail.com
              </li>
              <li class=" d-flex justify-content-between align-items-center">
                <i class="bi bi-camera-video-fill"></i>Eye film Institute Netherlands Amsterdam, The Netherlands
              </li> 
            <li class=" d-flex justify-content-between align-items-center">
              <i class="bi bi-instagram"></i> marco.pando.quevedo
            </li>           
          </ul>
          <hr>
    </div>
</div>

{% endblock %}
