{%extends 'layout.html'%}
{% block content%}


  <div class="row border-row">

        {% for project in projects%}
        
        <div class="col-6">
            <div data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="500">
                 <div style="height: 20px;"></div>
            <div class="container-img cardAmp">
                <a class="card-link" href="{{project.url}}">
                <img src="{{project.image.url}}" alt="Avatar" class="image img-fluid" style="width:100%">
                <div class="middle">
                  <div class="text">
                    
                    <h5 class="card-title" style="font-size: 15px;">{{project.title}}</h5>
                    <hr>
                    <p>
                        {{project.description}}
                    </p>
                    </div>
                </div>
            </a>
        </div>
              </div>

        </div>
        {% endfor %}
        <div style="height: 20px;"></div>
  </div>

{% endblock %}
