{% extends 'layout.html' %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p class="description-post-tag" style="padding-top: 20px !important;">
                <strong>{{post.title}}</strong>
                {% if post.start_date %}
                    {{post.start_date|date:'Y'}}
                {% endif %}
                {% if post.end_date %}
                    -{{post.end_date|date:'Y'}}
                {% endif %}
            </p>
            <img class="img-fluid" src="{{post.image.url}}" alt="{{post.title}}" style="max-height: 500px;">
            <div style="height: 20px;"></div>
            <p class="text-left">{{post.description}}</p>
        </div>
    </div>
</div>
{% endblock %}
